rasterio
numpy
scipy
xdem
PySAGA-cmd
geopandas
scikit-image
scikit-learn
torch
torchvision
segmentation-models-pytorch
albumentations
pyyaml
matplotlib
tqdm
perlin-noise
joblib
cython<3
git+https://github.com/lucasb-eyer/pydensecrf.git@master#egg=pydensecrf
requests

# Optional: For Dynamic World fetching (requires Google Earth Engine setup)
# earthengine-api
